/*Common inner popup overlay*/
#popupOverlay , #start_popupOverlay, #howto_popupOverlay ,#result_popupOverlay{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	
	background-repeat:no-repeat;
	border-radius: 5px;
	font-size: 25px; 
	transition: background-color 0.2s ease-out,
	border-color 0.2s ease-out;
}



/*Common inner popup box*/
#popupBox, #start_popupBox, #howto_popupBox, #result__popupBox{
	display: none;
	margin:50px;
	z-index: 1;
}

/*Common buttons*/
#start_popupBox button,
#howto_popupBox button,
#result_popupBox  button,
#popupBox  button{
	width: 50px;
	height: 50px;
	margin: 10px auto;
	font-size: 1.5vw; 	
	font-family: 'Cabin Sketch', cursive;
	background-color: rgba(0,128,0, .2);
	-moz-border-image: url(../img/border_circle2.png) 0 0 27 stretch;
	-webkit-border-image: url(../img/border_circle2.png) 0 0 27 stretch;
	-o-border-image: url(../img/border_circle2.png) 0 0 27 stretch;
	border-image: url(../img/border_circle2.png) 0 0 27 fill stretch;
	border-radius: 50%;/* circle background */
}

/* for a name prompt only*/
#popupOverlay{
	background-color: rgba(100, 100, 100, .75);
	
}
#popupBox > div > #popupBoxHead{ 
	background: #666; 
	font-size:19px; 
	padding:10px; 
	color:#CCC; 
	text-align: center; 
	border-style: solid;
	border-width: 0px;
	-moz-border-image: url(../img/border_reg.png) 0 0 27 stretch;
	-webkit-border-image: url(../img/border_reg.png) 0 0 27 stretch;
	-o-border-image: url(../img/border_reg.png) 0 0 27 stretch;
	border-image: url(../img/border_reg.png) 0 0 27 fill stretch;
}
#popupBox > div > #popupBoxBody{ background: #333; padding:20px; color:#FFF; }
#popupBox > div > #popupBoxFooter{ 
	background-color: transparent;
}


/* for a start up display only*/
#start_popupOverlay{
	background-color: rgba(255,255,255, .8);
}
#start_popupBox > div > #start_popupBoxBody{ 
	margin: auto;
	text-align: center; 
	width: 50%;
	height: 600px;
	background-image : url("../img/startUp.png")  ;
	background-size: 200% 200%;
	background-repeat:no-repeat;
	background-position: center fixed;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}


/* for rule only*/
#howto_popupOverlay{
	background-color: rgba(255,255,255, .6);

}
#howto_popupBox{
	background-color: rgba(0,128,0, .3);
	-moz-border-image: url(../img/border_reg.png) 0 0 27 stretch;
	-webkit-border-image: url(../img/border_reg.png) 0 0 27 stretch;
	-o-border-image: url(../img/border_reg.png) 0 0 27 stretch;
	border-image: url(../img/border_reg.png) 0 0 27 fill stretch;

}

/* for a result display only*/
#result_popupOverlay{
	background-color: rgba(255,255,255, .8);
}
#result_popupBox > div > #result_popupBoxHead, #result_popupBoxBody, #result_popupBoxFooter{ 
	text-align: center; 
}

#result_popupBox img {
    max-width: 100%;
    max-height: 70%;
}